<div class="onboarding" ng-show="!showQuestions">
	<div class="top-panel"><img class="onboarding-image-md" src="img/{{currentOnboardingImage}}"></div>
	<div class="bottom-panel" ng-bind-html="currentOnboardingText"></div>
	<div class="bottom-nav">
		<div class="btn-group" role="group" aria-label="...">
	  		<button ng-click="startQuestions()" type="button" class="btn btn-full btn-primary">Get Started</button>
		</div>
	</div>
</div>

<div ng-show="showQuestions && !formDisplayType">
	<div class="question">
		<div class="header" ng-show="currentQuestion.section_header != ''" >
		{{currentQuestion.section_header}}
		</div>

		<div class="question-label">
			{{currentQuestion.field_label}}
		</div>
		<hr/>
		<div class="question-options" ng-if="!formDisplayType">
			<div ng-repeat="option in currentQuestion.select_choices_or_calculations">
			<label ng-click="saveValue(option.value)">
				<table>
					<tr>
						<td><input type="radio" name="{{currentQuestion.field_name}}"/>&nbsp;&nbsp;</td>
			  			<td>{{option.label}}</td>
		  			</tr>
	  			</table>
			 </label>
			</div>
		</div>

	</div>
	<div class="bottom-nav">
		<div class="btn-group" role="group" aria-label="...">
	  		<button ng-show="firstSlideTrue()" ng-click="next()" type="button" class="btn btn-full btn-primary">Get Started</button>
	  		<button ng-hide="firstSlideTrue()" ng-click="back()" type="button" class="btn btn-back-next btn-default">Previous</button>
	  		<button ng-hide="firstSlideTrue()" ng-click="next()" type="button" class="btn btn-back-next btn-primary">Next</button>
		</div>
	</div>
</div>

<div id="vertical-scrolling" ng-if="showQuestions && formDisplayType == 'vertical-scrolling'">
	<div class="header" ng-show="currentQuestion.section_header != ''" >
		{{currentQuestion.section_header}}
	</div>
	<div class="questions"> 

		<div class="question" ng-repeat="question in currentQuestionnaire">
			<div class="question-label">
					{{question.field_label}}
			</div>
			<table style="width:100%;">
				<tr>
		  			<td ng-repeat="face in [1,2,3,4,5]" style="width:20%;">
						<label ng-click="saveValue(face)">
							<img src="img/{{faceLibrary[face]}}"/>
						</label>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<button ng-click="nextPage()" type="button" class="btn btn-full btn-primary">Continue</button>

</div>